.colmd{
  width: 50%;
}

.mat-input-container {
  width: 90%;
}

.cuadro{
  text-align: center;
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 5px 5px #888888;
  margin-bottom: 20px;
}

.reg{
  text-align: center;
  margin-top: 10px;
}
@media screen and (min-width: 375px) {
  .colmd{
    width:25%;
  }
}
@media screen and (min-width: 768px) {
  .cuadro{
    margin-left: 15%;
    margin-right: 15%;
  }
}
